<h1>Login as caretaker</h1>

<form action="/caretaker/login" method="POST">
	Username
	<input type="username" name="username" class="form-control">
	<p>
	</p>
	Password
	<input type="password" name="password" class="form-control">
	<p>
		
	</p>
	<input type="submit" class="btn btn-primary">
</form>