<h1>Register here</h1>

<form action="/register" method="POST" enctype="multipart/form-data">
	Name
	<input type="text" name="name" class="form-control">
	<p> 
	</p>
	Username
	<input type="username" name="username" class="form-control">
	<p>
	</p>
	Email
	<input type="email" name="email" class="form-control">
	<p>
	</p>
	Password
	<input type="password" name="password" class="form-control">
	<p>
	</p>
	
	<input type="file" name="DP" VALUE="https://image.shutterstock.com/image-vector/unknown-user-profile-600w-1228715254.jpg" >
	<p>
	</p>
	Profile Picture.
	<input type="submit">
	<p>
	</p>
</form>
