<h2>Type in youtube video id</h2>

<form action="/addvideos" method="POST">
	<input type="text" id="videoid" name="videoid">

	<p>
		
	</p>
	<input type="submit" class="btn btn-primary">


</form>