<h1>Entertainment: Watch your favourite videos here</h1>

<a href="/addvideos">Add more videos</a>

<br><br>

<iframe width="720" height="405" src="https://www.youtube.com/embed/VIDEO_ID?playlist=<%-result%>"frameborder="0" allowfullscreen>