<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/stylesheets/app.css">


	<link rel="preconnect" href="https://fonts.gstatic.com">
	<!--Fonts-->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<!--Font Awesome-->
	<script src="https://kit.fontawesome.com/3808de5cb1.js" crossorigin="anonymous"></script>

	<title>Landing</title>

</head>

<body>
	<div class="header">
		<a href="/home">
			<img src="/img/back.png" alt="" height="50">
		</a>

	</div>


	<div class="container">
        <h2>Events </h2>
        <a href="/eventsadd" class="purp-btn">Add reminders</a>
        
<div id="reminders">
    <h2 class="home-head">Reminders</h2>
    

    <p><%= msg %></p>
    <table>
        <tr>
            <th>
                Time
            </th>
            <th>
                Message
            </th>
        </tr>
        <% for(var i=0; i<result.length; i++){ %>
        <tr>
            <td><%= result[i].time %></td>
            <td><%= result[i].tag %></td>
        </tr>

        <%}%>
        
    </table>
</div>
		


	</div>
</body>


