<form action="/eventsadd" method="post">

	Select days:
	<input type="checkbox" id="0" name="0" value="0">
		  <label for="days"> Sunday</label><br>
		  <input type="checkbox" id="1" name="1" value="1">
		  <label for="days">  Monday</label><br>
		  <input type="checkbox" id="2" name="2" value="2">
		  <label for="days"> Tuesday</label><br>
		  <input type="checkbox" id="3" name="3" value="3">
		  <label for="days"> Wednesday</label><br>
		  <input type="checkbox" id="4" name="4" value="4">
		  <label for="days"> Thursday</label><br>
		  <input type="checkbox" id="5" name="5" value="5">
		  <label for="days"> Friday</label><br>
		  <input type="checkbox" id="6" name="6" value="6">
		  <label for="days"> Saturday</label><br>
<br><br>




  <label for="time">Select a time:</label>
  <input type="time" id="time" name="time">

<br><br>
  <label for="tag">ENter tag:</label>
  <input type="text" id="tag" name="tag">
<br><br>


  <input type="submit">
</form>


<br><br><br>
<a href="/events">Back to events</a>