<head>
<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<%if(CurrentUser.DP.data){%>

<img id="UserDp"  src="data:image/<%=CurrentUser.DP.contentType%>;base64, 
                     <%=CurrentUser.DP.data.toString('base64')%>"> 
<%}%>
<h1>Welcome <%=CurrentUser.name %></h1>

<p>
	</p>
	


News App : <a href="/news">Get Me News</a>
<p></p>
Games : <a href="/games">Show Games</a>
<p></p>
My Circle : <a href="/circle">Circle</a>
<p></p>
<a href="/logout">log out</a>