



<h2>New here? Register now</h2> 

<a href="/patient/register">Register as patient</a>

<a href="/caretaker/register">Register as caretaker</a>
<br>

<h2>Already have an account? Login here</h2>
<a href="/patient/login">Login as patient</a>

<a href="/caretaker/login">Login as caretaker</a>
