<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/styles.css">


  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <!--Font Awesome-->
  <script src="https://kit.fontawesome.com/3808de5cb1.js" crossorigin="anonymous"></script>

  <title>Landing</title>

</head>

<body>
  <div class="header">
    <a href="/games">
      <img src="/img/back.png" alt="" id="back" height="50px">
    </a>
    <a href="/memorygame"  class="settings">
      <h3 id="play-again">
        
      </h3>
      
    </a>


  </div>

  <div class="win-message">
    <h2 id="win" class=""></h2>


  </div>
  <section class="memory-game">
    <div class="memory-card" data-framework="flower">
      <img class="front-face" src="img/1.png" alt="flower" />
      <img class="back-face" src="img/back.jpg" alt="back" />
    </div>
    <div class="memory-card" data-framework="flower">
      <img class="front-face" src="img/1.png" alt="flower" />
      <img class="back-face" src="img/back.jpg" alt="back" />
    </div>

    <div class="memory-card" data-framework="dog">
      <img class="front-face" src="img/2.png" alt="dog" />
      <img class="back-face" src="img/back.jpg" alt="back" />
    </div>
    <div class="memory-card" data-framework="dog">
      <img class="front-face" src="img/2.png" alt="dog" />
      <img class="back-face" src="img/back.jpg" alt="back" />
    </div>

    <div class="memory-card" data-framework="pot">
      <img class="front-face" src="img/3.jpg" alt="pot" />
      <img class="back-face" src="img/back.jpg" alt="back" />
    </div>
    <div class="memory-card" data-framework="pot">
      <img class="front-face" src="img/3.jpg" alt="pot" />
      <img class="back-face" src="img/back.jpg" alt="back" />
    </div>

    <div class="memory-card" data-framework="tree">
      <img class="front-face" src="img/4.png" alt="tree" />
      <img class="back-face" src="img/back.jpg" alt="back" />
    </div>
    <div class="memory-card" data-framework="tree">
      <img class="front-face" src="img/4.png" alt="tree" />
      <img class="back-face" src="img/back.jpg" alt="back" />
    </div>

    <div class="memory-card" data-framework="baby">
      <img class="front-face" src="img/5.jpg" alt="baby" />
      <img class="back-face" src="img/back.jpg" alt="back" />
    </div>
    <div class="memory-card" data-framework="baby">
      <img class="front-face" src="img/5.jpg" alt="baby" />
      <img class="back-face" src="img/back.jpg" alt="back" />
    </div>

    <div class="memory-card" data-framework="cow">
      <img class="front-face" src="img/6.jpg" alt="cow" />
      <img class="back-face" src="img/back.jpg" alt="back" />
    </div>
    <div class="memory-card" data-framework="cow">
      <img class="front-face" src="img/6.jpg" alt="cow" />
      <img class="back-face" src="img/back.jpg" alt="back" />
    </div>
  </section>

  <script type="text/javascript" src="js/memory.js"></script>

</body>

</html>