<form method="post" action="/circleupload" enctype="multipart/form-data">
	
	Relative Name
	<input type="text" name="relName" />

	<br><br>

	Relation
	<input type="text" name="relation" />

	<br><br>
	Upload some images:


	<input type="file" name="files" multiple/>
	<button type="submit">Upload</button>

</form>

<br><br>
<a href="/circle">Back to my circle</a>