<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/app.css">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/3808de5cb1.js" crossorigin="anonymous"></script>
    
    <title>Landing</title>

</head>

<body>
    <div class="header">
        <a href="/home">
            <img src="/img/back.png" alt="">
        </a>
    </div>
    <div class="container">
        <%=new Date()%>
      </div>
    </div>   
</body>


