

<head>
	<title>test</title>
	<style type="text/css">
		body{
			margin: 0;
			padding: 0;
			width: 100vw;
			display: flex;
			height: 100vh;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		canvas{
			
			position: absolute;
      
		}
	</style>
</head>
<body>
    <%=labels%>
    <video id="videoInput" width="720" height="550" controls muted></video>
    <script defer async src="./js/face-api.min.js"></script>

    <script defer async src="./js/video.js"></script>

	

    
    	
</body>
