*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	
}

:root{
	--purple: #4A0D66;
}
body{
	min-height: 100vh;
	display: flex;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;

}
.header{
	background-color: var(--purple);
	position: fixed;
	width: 100%;
	padding: 1rem;
}
.header>i, .header>h3, #play-again{
	color: white;
	display: inline;
	text-decoration: none;
}
.header>i{
	float: right
}
.header>h3, #play-again{
	font-size: 5rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
/*Landing Page*/
h1{
	font-size: 10rem;
	margin: 4rem 0;

}
.purp-btn{
	font-size: 4rem;
	color: #000;
	text-decoration: none;
	background-color: var(--purple);
	margin-bottom: 2rem;
	padding: 1rem 3rem;
	color: white;
	border-radius: 20px;
	min-width: 800px;
	text-align: center;
	font-family: 'Montserrat';
}
.light-purp-btn{
	display: inline-block;
	background-color: rgba(74, 13, 102, 0.15);
}
.light-purp-btn>p, .light-purp-btn>i{
	display: inline;
}
.margin-bottom{
	margin-bottom: 8rem;
}

.brain{
	width: 300px;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	text-align: center;
}
/*Register*/
h2{
	font-size: 7rem;
	margin-bottom: 5rem;
}
.hide{
	display: none;
}
.form-control{
	font-size: 3rem;
	border: 4px solid var(--purple);
	border-radius: 10px;
	margin-bottom: 3rem;
	padding: 1rem;
	width: 800px;
	font-family: 'Montserrat';
	text-align: center;
}
.form-control::placeholder{
	color: #000;
}
/*HomePage*/
.homepage{
	padding: 5rem;
}
.c{
	padding: 5%;
	width: 90%;
}

#user-dp{
	float: right;
	border-radius:100%;
	width:300px;
	height:300px;
}

#reminders{
	margin-top: 5rem;
	width: 90%;

}
.grid-container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 50px;
	width: 90%;
}

.home-head{
	font-size: 4rem;
	margin-top: 3rem;
}

.home-head2{
	font-size: 2rem;
	margin-top: 3rem;
}
p{
	font-size: 2.5rem;
}
.home-head-bottom{
	margin-bottom: 3rem;
}
.home-box{
	border: 5px solid var(--purple);
	border-radius: 10px;
	width: 100%;
	padding: 2rem;
	text-decoration: none;
	color: #000;
}
h3{
	font-size: 3rem;
}
table{
	width: 100%;
	font-size: 3rem;
	border-spacing: 0;
}
td, th{
	padding: 2rem;
	border: 5px solid var(--purple);
}
th:nth-child(1){
	border-radius: 10px 0 0 0;
}
th:nth-child(2){
	border-radius: 0 10px 0 0;
}
tr:nth-child(n) > td:nth-child(1){
	border-radius: 0 0 0 10px;
}
tr:nth-child(n) > td:nth-child(2){
	border-radius: 0 0 10px 0;
}
/*News*/
.news-container{
	margin-top: 200px;
}
.news{
	border: 5px solid var(--purple);
	border-radius: 20px;
	padding: 2rem;
	margin-bottom: 3rem;
}
.news-card{
	
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	text-align: left;
}
.news-text>h3{
	font-size: 3.5rem;
}

.news-pic{
	height: 400px;
	width: 300px;
	border-radius: 10px;
	object-fit: cover;
}
.settings{
	text-decoration: none;
	color: white;
	float: right;
}
.description{
	margin-top: 2rem;
	font-size: 1.5rem;
}
.hr, .hr-small{
	width: 90%;
	border-top:  5px solid rgba(74, 13, 102, 0.15);
	
	height: 0;
}
.hr-small{
	margin: 3rem 0;

}
.hr{

	margin-bottom: 5rem;
}
.form-row{
	
	text-align: left;
	display: inline-block;
	margin-bottom: 3rem;
}
.chevron{
	color: var(--purple);
}
/*news settings*/
.custom-control> label{
	font-size: 4rem;
}
.custom-control-input{
	height: 3rem;
width: 3rem;
margin-right: 2rem;

}
#heading-news{
	font-size: 4rem;
	margin-bottom: 3rem;
}

#relpic{
	border-radius:100%;
	width:450px;
	height:450px;
	object-fit: cover;
}
#relativepic{
	border-radius:100%;
	width:300px;
	height:300px;
	object-fit: cover;
}
#guesswhoform{
	margin-top: 3rem;
}

/*Guesswho*/
.options{
	font-size: 3rem;
	white-space:nowrap;
}
.crimson{
	color: crimson;
}

.green{
	color:rgb(13, 226, 13);
}
/*my circle*/
.quiz{
	border: 5px solid var(--purple);
	border-radius: 20px;
	padding: 2rem;
	margin-bottom: 3rem;
	width: 90%;

}
.relative{
	width: 90%;
	border: 5px solid var(--purple);
	display: flex;
	border-radius: 20px;
	padding: 2rem;
	align-items: flex-start;
	justify-content: space-between;
	text-align: left;
	margin-bottom: 3rem;
	
}
#reminders >p{
	margin-bottom: 3rem;
}

.SageLabel{

	font-size: 2.5rem;
}

.emptytop{
	padding-top: 5rem;
}




