*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

body{
	min-height: 100vh;
	background-color: #000000;
	display: flex;
}
.memory-game{
	width: 640px;
	height: 640px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;
	
}
.memory-card{
	width: calc(25% - 10px);
	height: calc(33.33% - 10px);
	position: relative;
	margin: 5px;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
	

}

.memory-card:active{
	transform: scale(.97);
	transition: transform .2s;
}

.memory-card.flip {
	transform: rotateY(180deg);
}

.front-face,
.back-face {
	width: 100%;
	height: 100%;
	padding: 20px;
	border-radius: 5px;
	position: absolute;
	background: aqua;
	border: 2px solid deeppink;
	backface-visibility: hidden;
}

.front-face {
	transform: rotateY(180deg);
}

img{
	width: 100px;

}

.win-message {
	
}